<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>FLTEnableImpeller</key>
    <false/>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleDisplayName</key>
    <string>Central Park Tennis</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CLIENT_ID</key>
    <string>777303258538-6fjb8j0d7c4kbu119a17m44cpeasaglj.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.777303258538-6fjb8j0d7c4kbu119a17m44cpeasaglj</string>
    <key>API_KEY</key>
    <string>AIzaSyBJstngLYMDm-ORD-tYKT-GevccOltQQ8I</string>
    <key>GCM_SENDER_ID</key>
    <string>777303258538</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.example.tennisApp</string>
    <key>PROJECT_ID</key>
    <string>tennis-5b1a9</string>
    <key>STORAGE_BUCKET</key>
    <string>tennis-5b1a9.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false/>
    <key>IS_ANALYTICS_ENABLED</key>
    <false/>
    <key>IS_APPINVITE_ENABLED</key>
    <true/>
    <key>IS_GCM_ENABLED</key>
    <true/>
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
    <key>GOOGLE_APP_ID</key>
    <string>1:777303258538:ios:3590bdf309eab1e8dfa7d3</string>
    <key>DATABASE_URL</key>
    <string>https://tennis-5b1a9-default-rtdb.firebaseio.com</string>
    <key>UIStatusBarHidden</key>
    <false/>
    <key>CFBundleIdentifier</key>
    <string>com.example.tennisApp</string>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>AppIcon</string>
            </array>
            <key>UIPrerenderedIcon</key>
            <false/>
        </dict>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>AppIcon</string>
            </array>
            <key>UIPrerenderedIcon</key>
            <false/>
        </dict>
    </dict>
	<key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>accelerometer</string>
        <string>gyroscope</string>
    </array>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <true/>
        <key>UIScene Settings</key>
        <dict/>
    </dict>
    <!-- Disable automatic Firebase Messaging method swizzling -->
    <key>FirebaseAppDelegateProxyEnabled</key>
    <false/>
    <key>UIBackgroundModes</key>
    <array>
    <string>fetch</string>
    <string>remote-notification</string>
    </array>
    <key>FirebaseAppDelegateProxyEnabled</key>
    <false/>
    <key>NSAppTransportSecurity</key>
    <dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
    </dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need access to your location for notifications.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We need access to your location to send notifications even when the app is in the background.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>We need access to your location for notifications.</string>
</dict>
</plist>
