<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jela</title>
</head>

<body style="background-color: #eceeef; display: flex; flex-direction: column; align-items: flex-end; justify-content: center; background-image: url(https://i.ibb.co/gPp2H0t/Asset-2.png); background-size: cover; height: 500px; padding: 30px;">
    <img src="https://i.ibb.co/ZXFLKM4/Asset-1-4x.png" alt="JELA LOGO" style="width: 130px; margin: 50px 0 ;">
    <div id="content" style="max-width: 500px;">
        <p style="text-align: right; margin: 20px 0; font-family: 'Source Code Pro';">НАСИЧЕНА ЇЖА З ПЕЧІ НА ДРОВАХ</p>
        <p style="font-family: 'Source Code Pro'; text-align: right; margin: 20px 0;">
            Побудована софістикованими ентузіастами, справжніми любителями їжі, вина та пригод,
            а головне - професіоналами. Затишне місце з відкритою кухнею та великим ком'юніті столом, де гості
            можуть насолоджуватися і бути гіпнотизовані захоплюючою роботою кухарів
        </p>
        <div>
            <p style="text-align: right; margin: 20px 0; font-family: 'Source Code Pro';">Одеса, пр. Маяковського 8</p>
        </div>
    </div>
</body>

</html>
